In [ ]:
Username = 'Ridha'
Password = '5678'

userpassword = input("Enter the password")
if userpassword == Password : 
  print("Welcome " + Username)

else :
  print("Incorrect Password")

Enter the password5678
Welcome Ridha

In [ ]:
Username = 'Ridha'
Password = '5678'

name = input("Enter the name")
userpassword = input("Enter the password")

if name==Username :
  if userpassword==Password :
    print("Welcome " + Username)
  else :
    print("Incorrect Password")
else :
  print("This user is not our database")

Enter the nameRidha
Enter the password5678
Welcome Ridha

In [ ]:
Username = 'Ridha'
Password = '5678'
OTP = '6215'

name = input("Enter the name")
userpassword = input("Enter the password")
otp = input("Enter the OTP")

if name==Username :
  if userpassword==Password :
    if otp==OTP :
      print("Login Verified")
    else :
      print("Invalid OTP")
  else :
    print("Incorrect Password")
else :
  print("This user is not our database")

Enter the nameRidha
Enter the password5678
Enter the OTP6215
Welcome Ridha
Login Verified

In [ ]:
marks = int(input("Enter the mark"))
 
if marks > 90 :
  print("Grade is A")

elif marks > 80 :
  print("Grade is B")
  
elif marks > 70 :
  print("Grade i C")

elif marks > 60 :
  print("Grade is D")

else :
  print("Failed!")

Enter the mark55
Failed!

Loops

In [ ]:
for i in range(10) :
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(2, 20) :
  print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
for i in range(2, 15, 3) :
  print(i)

2
5
8
11
14

In [ ]:
for x in range(1, 11) :
  print(x*3)

3
6
9
12
15
18
21
24
27
30

In [ ]:
for x in range(1, 35) :
  if x/2 :
    print(x)
  else :
    print("Not working")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34

In [ ]:
Students = ["Ravi", "Raja", "Rani", "Rajesh"]
Students [1:4]

['Raja', 'Rani', 'Rajesh']

In [ ]:
for a in Students :
  print(a)

Ravi
Raja
Rani
Rajesh

In [ ]:
for a in Students :
  print(a)

  if a == 'Rani' :
    break

Ravi
Raja
Rani

In [ ]:
for a in Students :
  print("Welcome " + a)

Welcome Ravi
Welcome Raja
Welcome Rani
Welcome Rajesh

Dictionary

In [ ]:
StudentMarks = {
    "Ravi" : 95,
    "Raja" : 52,
    "Rani" : 26,
    "Rajesh" : 98
}
StudentMarks["Ravi"]

95

In [ ]:
StudentMarks.keys()

In [ ]:
for key in StudentMarks.keys() :
  #print(key)
  #print(StudentMarks[key])
  if StudentMarks[key] < 60 :
   print(key+ " has failed")

Raja has failed
Rani has failed